.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  background-color: rgb(22, 27, 34);

  border-bottom: 1px solid rgb(48, 54, 61);

  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-weight: 600;
  font-size: 32px;
  color: #c9d1d9;
}

.subtitle {
  font-size: 16px;
  color: #8b949e;
}