.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.developers-container {
  width: 50vw;
  min-height: 100px;
  border: 1px solid rgb(48, 54, 61);
  border-radius: 6px;

  margin: 20px;
}

.developers-header {
  background-color: rgb(22, 27, 34);
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-dev-data {
  font-size: 20px;
  font-weight: 600;
  color: rgb(201, 209, 217);

  padding: 32px;
  margin-bottom: 4px;
}